@(form: Form[(String)])(implicit flash: Flash)

<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
        <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/jquery-1.7.1.min.js")'></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#googleLogin').click(function() {
                    $('#loginbutton').hide();
                    $('#email').val('https://www.google.com/accounts/o8/id');
                    $('#user').val('https://www.google.com/accounts/o8/id');
                });
            });
        </script>
    </head>
    <body>
        
        @helper.form(routes.Application.authenticate) {
            
            <h1>Sign in</h1>
            
            @form.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }
            
            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }
            
            <p>
                <label for="email">OpenID URL</label>
                &nbsp;&nbsp;
                <input type="input" name="user" id="email" value="@form("user").value">
                &nbsp;&nbsp;
                <button type="submit" id="loginbutton">Login</button>
            </p>

            <p>
                or <button id="googleLogin">login with Google</button>
            </p>
        }
    </body>
</html>