header, footer {
    background-color: #653A71;
    color: white;
    padding: 5px 10px 5px 10px;
    position: relative;
}

footer {
    height: 30px;
}


header#flash{
    display: none;
}
header#flash.success {
    background-color: #00a712;
}

header#flash.error {
    background-color: #a71500;
}
#exp-line{
    margin: 0px;
    padding-bottom: 10px;
    padding-left: 8px;
    background-color: #F9F9F9;
}

td.total, input.total {
    color: #414141;
    text-align: right;
    font-weight: bold;
    width: 60px;
    margin-bottom: 0px;
}

table.table {
    margin-bottom: 0px;
    border-bottom: solid 1px #DDDDDD;
}

div.pascolle{
    padding-top: 10px;
}
.container {
    width: 100%;
}

footer .add-on{
    color: #000000;
}
@media (max-width: 360px) {
    .container {
        width: 360px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}