tfoot tr:last-child td, thead td {
    background-color: #333;
    color: white;
}

a {
    font-weight: bold;
}

.hide {
    position: absolute;
    visibility: hidden;
}

@media (min-width: 768px) {
    .container {
        width: 724px;
    }
}