header, footer {
    background-color: #653A71;
    color: white;
    padding: 5px 10px 5px 10px;
    position: relative;
}

footer {
    height: 30px;
}


header#flash{
    display: none;
}
header#flash.success {
    background-color: #00a712;
}

header#flash.error {
    background-color: #a71500;
}

td.total, input.total {
    color: #414141;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
    width: 60px;
    margin-bottom: 0px;
}
.table {
    margin-bottom: 0px;
}

.container {
    width: 100%;
}

input[type="date"]{
    width: 120px;
    margin-bottom: 0px;
}

footer .add-on{
    color: #000000;
}
@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}