<tr id="<%= id %>">
    <td id="expense-line" colspan="4" class="input-append">
        <select  id="expenseType" name="type" class="span2">
            <option value="Lodging">Lodging</option>
            <option value="Phone">Phone</option>
            <option value="Internet">Internet</option>
            <option value="Transportation">Transportation</option>
        </select>
        <datalist id="desc">
            <option value="Internet"></option>
            <option value="Phone"></option>
            <option value="Lodging"></option>
            <option value="Transportation"></option>
        </datalist>
        <input type="text" id="description" placeholder="Description" list="desc" class="span3" autofocus="" value="<%= description %>">
        <!-- change that to http://updates.html5rocks.com/2012/04/datalist-landed-in-Chrome-Canary -->
        <input type="date" id="valueDate" data-datepicker="datepicker"  class="span2" value="<%= valueDate %>">
        <input type="number" id="amount" class="span1" value="<%= expense %>"><span class="add-on">€</span>
    </td>
</tr>