<form name="exp" id="expense-details-form">
    <header>
        <i class="icon-plus icon-white"></i><b>Note de frais</b></div>
        <span>
            Du <input class="datepicker" type="date" name="startDate" value="<%= startDate %>">
            au <input class="datepicker" type="date" name="endDate" value="<%= endDate %>">
        </span>
    </header>
    <table class="table table-striped">
        <tbody>
            <% _.each(lines,function(line,index){ %>
            <tr name="line" data-id="<%=index%>">
                <td><%=line.expenseType%></td>
                <td><%=line.description%></td>
                <td><%=line.valueDate%></td>
                <td><%=line.expense%>€</td>
                <td><% if(line.evidences && line.evidences.length>0){%><i class="icon-file"></i> <%}%></td>
            </tr>
            <% }); %>
            <tr id="line_form">
                <td id="expense-line" colspan="5" class="input-append">
                    <select name="line.expenseType" class="span2">
                        <option value="Lodging" >Lodging</option>
                        <option value="Phone">Phone</option>
                        <option value="Internet">Internet</option>
                        <option value="Transportation">Transportation</option>
                        <option value="Meal">Meal</option>
                        <option value="Gas">Gas</option>
                        <option value="Other">Misc.</option>
                    </select>
                    <input type="text" name="line.description" placeholder="Description" class="span3" autofocus="" value="<%= currentLine.description%>">
                    <!-- change that to http://updates.html5rocks.com/2012/04/datalist-landed-in-Chrome-Canary -->
                    <input type="date" name="line.valueDate" data-datepicker="datepicker"  class="span2" value="<%=currentLine.valueDate%>">
                    <div style="height: 0px;width:0px;overflow:hidden;display:inline-block;"><input id="hidden-file" name="line.evidence" value="currentLine.evidence" type="file" disabled="true"></div>
                    <input type="number" name="line.expense" class="span2" value="<%=currentLine.expense%>"><span class="add-on">€</span>
                    <a id="add_file" class="btn"><i class="icon-file"></i></a>
                    <a id="save_line" class="btn pull-right"><i class="icon-ok"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <footer class="input-append">
        <a id="home" class="btn btn-inverse" href="#"><i class="icon-chevron-left icon-white"></i> Back</a>
        <input class="total" type="text" name="sum" value="<%=total%>" disabled="true"><span class="add-on">€</span>
        <span class="pull-right"><a id="put" class="btn"><i class="icon-pause"></i>save</a><a class="btn" disabled="true"><i class="icon-play"></i>send to Nadia</a></span>
    </footer>
</form>