    <header id="flash" class="flash"></header>
    <header>
        <h4><i class="icon-plus icon-white"></i><b>Note de frais</b></h4>
        <span>
            Du <input class="input-small" type="date" name="startDate" value="<%= startDate %>">
            au <input class="input-small" type="date" name="endDate" value="<%= endDate %>">
        </span>
    </header>
    <table class="table table-striped">
        <tbody>
            <% _.each(lines,function(line,index){ %>
            <tr class="line" name="line" data-id="<%=index%>">
                <td><%=line.expenseType%></td>
                <td><%=line.valueDate%></td>
                <td><%=line.expense%>€</td>
                <td>
                    <% if(line.evidences && line.evidences.length>0){%>
                        <i class="icon-file"></i>
                    <%}%>
                </td>
                <td>
                    <a class="delete-line">
                        <i class="icon-remove-sign"></i>
                    </a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <div class="row" id="exp-line" >
        <div class="span4">
            <form class="form input-append">
                <label>Type</label>
                <select name="line.expenseType" class="span3">
                    <option value="Lodging" >Lodging</option>
                    <option value="Phone">Phone</option>
                    <option value="Internet">Internet</option>
                    <option value="Transportation">Transportation</option>
                    <option value="Meal">Meal</option>
                    <option value="Gas">Gas</option>
                    <option value="Other">Misc.</option>
                </select>
                <label>Description</label>
                <input type="text" name="line.description"  autofocus="" value="<%= currentLine.description%>">
                <label>Date</label>
                <input type="date" name="line.valueDate" data-datepicker="datepicker" value="<%=currentLine.valueDate%>">
                <label>Montant</label>
                <input type="number" name="line.expense" value="<%=currentLine.expense%>"><span class="add-on">€</span>
                <div class="pascolle">
                <a id="add_file" class="btn"><i class="icon-file"></i> Files</a>
                <a id="save_line" class="btn"><i class="icon-ok"></i> Ok</a>
                </div>
            </form>
        </div>
        <div class="span5">

        </div>
    </div>
    <footer class="input-append">
        <a id="home" class="btn btn-inverse" href="#"><i class="icon-chevron-left icon-white"></i> Back</a>
        <input class="total" type="text" name="sum" value="<%=total%>" disabled="true"><span class="add-on">€</span>
        <span class="pull-right"><a id="put" class="btn"><i class="icon-pause"></i>save</a><a id="send" class="btn"><i class="icon-play"></i> Send</a></span>
    </footer>
    <div style="height: 0px;width:0px;overflow:hidden;display:inline-block;"><input id="hidden-file" name="line.evidence" value="currentLine.evidence" type="file" disabled="true"></div>
