<header>
        <h3 style="display: inline;">
            <i class="icon-list icon-white" style="margin-top:3px"></i>
            <%= i18n.t("home.expenses") %>
        </h3>
        <a id="new" class="btn pull-right" href="#expense/new">
            <i class="icon-pencil"></i>
            <%= i18n.t("home.new_expense") %>
        </a>
</header>
<table class="table table-striped">
    <% _.each(models, function(expense) { %>
        <tr>
            <td>
                <a href="#expense/<%=expense.id%>">
                    <%= expense.startDate %>
                    <i class="icon-play"></i>
                    <%= expense.endDate  %>
                </a>
            </td>
            <td class="total">
                <%= expense.total %> &euro;
            </td>
        </tr>
    <% });%>
</table>
<footer>
    <a id="get" class="btn btn-inverse">
        <i class="icon-repeat icon-white"></i>        
    </a>
</footer>