<header>
        <h3><i class="icon-list icon-white" style="margin-top:3px"></i> Expenses</h3>
        <a id="new" class="btn span2" href="#expense/new"><i class="icon-pencil"></i> New Expense</a>
</header>
<table class="table table-striped">
    <% _.each(models, function(expense) { %>
    <tr>
        <td><a href="#expense/<%=expense.id%>"><%= expense.startDate %> <i class="icon-play"></i> <%= expense.endDate  %></a></td>
        <td style="text-align:right;padding-right:15px"><%= expense.total %></td>
    </tr>
    <% });%>
</table>
<footer>
    <a id="delete" class="btn btn-danger"><i class="icon-fire icon-white"></i> Delete</a>
    <a id="get" class="btn btn-inverse span2"><i class="icon-repeat icon-white"></i> Reload</a>
</footer>